<header>
    <div class="container">
        <a href="/" class="logo">Attendance Checker</a>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>

    </header>