<header>
    <div class="container">
        <a href="/" class="logo" style="color:white">Attendance Checker</a>
        <nav>
            <ul>
                <li>
                    <a class="top" href="/" style="color:white">Home</a>
                </li>
                <li>
                    <a class="top" href="/auth/logout" style="color:white">Logout</a>
                </li>
                <li>
                    <a class="top" href="/profile" style="color:white">Profile</a>
                </li>
            </ul>
        </nav>
    </div>

    </header>