<%- include('./layout/header')%>
    <%- include('./layout/navbar')%>
    <body>
        <div>
            <img class= "detailedbox-photo"src='/images/person1.png' alt="crowded photo" width="30%" height="30%">
            <h1>Steve Jobs</h1>
            <p>Class of 2023</p>
        </div>
    </body>
    <%-include( './layout/footer')%>